.navbar {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 36px;
}

.navbar p {
  margin: 4px auto;
}

.navbar svg {
  padding-top: 0;
  padding-bottom: 0;
}

/* .nav-city-select {
  float: right;
}

.nav-city-manage {
  padding-right: 16px;
  float: right;
} */

.nav-city {
  padding-right: 16px;
  float: right;
}