.hours-list {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
  height: 90px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.hours-list li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.hours {
  text-align: center;
}

.hours p {
  margin-top: 4px;
  margin-bottom: 4px;
}