.days-list {
  color: aliceblue;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.days-list li {
  display: block;
}

.days-list li .wimg {
  text-align: center;
  height: 16px;
  line-height: 16px;
}

.temp {
  float: right;
  /* padding-top: 6px; */
}

.hg {
  color: aliceblue;
}

.lw {
  color: gray;
}